In [ ]:
#1 importons les bibliothèques nécessaires: sqlite3 et pandas
import sqlite3
import pandas as pd
from tabulate import tabulate

In [ ]:
#2 Connexion à la base de données nommée 'database.db'
conn = sqlite3.connect("database.db")
cursor = conn.cursor()

In [28]:
#3 Requête pour récupérer les informations sur les clients
query = "SELECT * FROM clients;"

In [29]:
#4 Chargeons les requêtes dans un DataFrame pandas
df = pd.read_sql_query(query, conn)

In [33]:
# Étape 6 : Afficher les 5 premières lignes du DataFrame

print(tabulate(df.head(), headers='keys', tablefmt='fancy_grid'))

╒════╤══════╤════════════╤══════════╤═══════════════════════════╤═════════╕
│    │   id │ nom        │ prenom   │ email                     │ pays    │
╞════╪══════╪════════════╪══════════╪═══════════════════════════╪═════════╡
│  0 │    1 │ Fadonougbo │ Parfait  │ parfait@example.com       │ Bénin   │
├────┼──────┼────────────┼──────────┼───────────────────────────┼─────────┤
│  1 │    2 │ AGOSSOU    │ Léon     │ leonagos@example.com      │ USA     │
├────┼──────┼────────────┼──────────┼───────────────────────────┼─────────┤
│  2 │    3 │ Smith      │ Anna     │ anna.smith@example.com    │ Canada  │
├────┼──────┼────────────┼──────────┼───────────────────────────┼─────────┤
│  3 │    4 │ Nguyen     │ Linh     │ linh.nguyen@example.com   │ Vietnam │
├────┼──────┼────────────┼──────────┼───────────────────────────┼─────────┤
│  4 │    5 │ Diallo     │ Amadou   │ amadou.diallo@example.com │ Sénégal │
╘════╧══════╧════════════╧══════════╧═══════════════════════════╧═════════╛

In [ ]:

conn.close()