In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_excel("ecommerce_transactions.xlsx")

In [4]:
# 1. Aperçu
display(df.head())

,Transaction ID,Date,Client ID,Pays,Catégorie,Marque,Quantité,Prix unitaire (€),Méthode de paiement,Note client,Montant total (€)
0,b90c55bf-2a79-431c-bc11-c1b8e764f780,2024-03-27,2b9afa4c-e1ab-4d05-810c-e2342c26bffa,Gambia,Livres,accept,2,41.20,PayPal,4.0,82.40
1,d364d102-0604-4061-b0d2-aeb7d4495504,2024-05-31,91acae16-626a-4082-8879-fbe94b170368,Madagascar,Maison,quite,3,354.36,PayPal,3.0,1063.08
2,cfbcc1ff-8eb9-4349-bfee-c845793aec38,2025-01-02,009f5919-2d4f-4119-8a52-a624fe383028,Samoa,Vêtements,stock,5,449.46,Cryptomonnaie,2.0,2247.30
3,5fa27823-888d-42c4-b669-89339e2834fe,2024-08-01,2fb01dc7-37de-4c69-95ce-e3a4ee1e34b6,El Salvador,Électronique,garden,2,136.41,PayPal,3.0,272.82
4,ea5fe267-5877-4d3a-a8b5-a07a9659a673,2024-08-06,2e53eaca-a1d5-4eee-9819-3913d296bf01,Cyprus,Maison,song,4,155.17,Cryptomonnaie,2.0,620.68

In [5]:
# 2. Dimensions
print(df.shape)
print(df.dtypes)

(10000, 11)
Transaction ID                 object
Date                   datetime64[ns]
Client ID                      object
Pays                           object
Catégorie                      object
Marque                         object
Quantité                        int64
Prix unitaire (€)             float64
Méthode de paiement            object
Note client                   float64
Montant total (€)             float64
dtype: object

In [6]:
# 3. Valeurs manquantes
print(df.isna().sum())

Transaction ID           0
Date                     0
Client ID                0
Pays                     0
Catégorie                0
Marque                   0
Quantité                 0
Prix unitaire (€)        0
Méthode de paiement      0
Note client            486
Montant total (€)        0
dtype: int64

In [7]:
# 4. Supprimer les doublons
df = df.drop_duplicates()

In [8]:
# 5. Ajouter colonne Année-Mois
df['Date'] = pd.to_datetime(df['Date'])
df['Année-Mois'] = df['Date'].dt.to_period('M')

In [9]:
# 6. CA par pays (top 5)
print(df.groupby('Pays')['Montant Total'].sum().sort_values(ascending=False).head(5))

KeyError: 'Column not found: Montant Total'