In [4]:
import pandas as pd
import numpy as np

df = pd.read_excel("employes_dataset.xlsx")

In [5]:

display(df.head(10))

,ID,Nom,Prénom,Âge,Sexe,Email,Pays,Ville,Salaire (€),Date d'embauche,Département,Télétravail (%),Performance (Note)
0,1,Richard,Stacey,62,Homme,lgonzalez@crawford.org,Trinidad and Tobago,New Devinview,54564.0,2023-09-30,Finance,0.0,2.0
1,2,Chang,Loretta,65,Homme,rebeccabrown@hotmail.com,Netherlands,Lake Rebecca,23393.0,2023-10-14,Informatique,0.0,2.0
2,3,Fisher,Kimberly,18,Homme,waynebarnes@schultz-sims.org,Oman,Alexanderfort,62711.0,2017-08-24,Finance,60.0,1.0
3,4,Green,Julie,21,Homme,morgandevon@burgess.com,Moldova,Alexanderville,52274.0,2022-06-09,RH,100.0,1.0
4,5,Dixon,Jacob,21,Homme,elliskaren@gmail.com,Dominican Republic,East Darren,108305.0,2018-08-02,Informatique,0.0,3.0
5,6,Sullivan,Ana,57,Femme,afranklin@hotmail.com,Iceland,South Benjamin,33920.0,2019-05-26,RH,20.0,4.0
6,7,Bowers,Rodney,27,Femme,rmiranda@hess.com,Congo,Dawsonland,98086.0,2016-09-28,RH,20.0,4.0
7,8,Turner,Stephanie,37,Homme,uphillips@cohen.com,Palau,West Tiffany,25213.0,2024-06-07,Logistique,NaN,4.0
8,9,Woods,Glenn,39,Homme,reidwilliam@hotmail.com,Slovakia (Slovak Republic),New Jessica,51914.0,2025-03-06,Production,40.0,1.0
9,10,Silva,Geoffrey,68,Homme,williamsalexis@beasley.biz,Hungary,Lake Rebecca,119041.0,2024-12-27,Finance,80.0,5.0

In [6]:

print(df.columns.tolist())

['ID', 'Nom', 'Prénom', 'Âge', 'Sexe', 'Email', 'Pays', 'Ville', 'Salaire (€)', "Date d'embauche", 'Département', 'Télétravail (%)', 'Performance (Note)']

In [7]:


print(df['Sexe'].value_counts())

Sexe
Femme    513
Homme    487
Name: count, dtype: int64

In [8]:


print(df['Pays'].value_counts().head(5))

Pays
Congo          10
Tajikistan     10
Finland        10
Madagascar     10
New Zealand    10
Name: count, dtype: int64

In [ ]:
salaires = df['Salaire (€)'].dropna()
print("\n Statistiques sur les salaires (€) :")
print(f"- Moyenne : {np.mean(salaires):,.2f} €")
print(f"- Médiane : {np.median(salaires):,.2f} €")
print(f"- Minimum : {np.min(salaires):,.2f} €")
print(f"- Maximum : {np.max(salaires):,.2f} €")
print(f"- Écart-type : {np.std(salaires):,.2f} €")

5. Statistiques sur les salaires (€) :
- Moyenne : 69,101.74 €
- Médiane : 69,518.50 €
- Minimum : 18,107.00 €
- Maximum : 119,836.00 €
- Écart-type : 29,703.03 €

In [ ]:
print("\n Âge moyen par département :")
print(df.groupby('Département')['Âge'].mean())

 Statistiques sur les salaires :
Département
Finance         42.560694
Informatique    43.681529
Logistique      41.757764
Marketing       43.187500
Production      44.198795
RH              44.131148
Name: Âge, dtype: float64

In [13]:
print("\n la ville ayant le plus grand nombre d’employés :")
ville_plus_grand_employe=df['Ville'].value_counts().idxmax()
new_ville_plus_grand_employe=df['Ville'].value_counts().max()
print(f"{ville_plus_grand_employe} avec {new_ville_plus_grand_employe} employés ")

 la ville ayant le plus grand nombre d’employés :
Lake Daniel avec 2 employés

In [ ]:
print(" Générer un graphique montrant la distribution des âges.")
import matplotlib.pyplot as plt
import seaborn as sns
plt.figure

 Générer un graphique montrant la distribution des âges.

In [ ]:
#GIT DU PROF BeObm